{% extends 'base2.html' %}
{% block content %}
    <div class="container  justify-content-center pt-5 container align-items-center pt-5 shadow-lg p-3 mt-5 mb-5 bg-body-white rounded">
        <h1>About Us</h1>
        <p>[Hotel Booking App Name] is a comprehensive hotel booking app that helps users to easily find and book their ideal hotel accommodations. Our app offers a wide range of hotels across the world, with detailed information about each property, including amenities, prices, and user ratings.</p>
        <p>Our mission is to simplify the hotel booking process and make it more accessible to everyone. We strive to provide the best possible service to our users and ensure that they have a hassle-free and enjoyable experience while using our app.</p>
        <p>At [Hotel Booking App Name], we believe in transparency and honesty, and we are committed to providing accurate and up-to-date information about all the hotels listed on our app. We work hard to ensure that our users can trust us to help them find the best hotel accommodations at the best prices.</p>
    </div>
    
{% endblock %}