{% extends 'base2.html' %}
{% block content %}
<title>Contact Us - [Hotel Booking App Name]</title>

<div class="container  justify-content-center pt-5 container align-items-center pt-5 shadow-lg p-3 mt-5 mb-5 bg-body-white rounded">
<h1>Contact Us</h1>
<p>If you have any questions, comments, or concerns about [Hotel Booking App Name], please don't hesitate to contact us. We are always happy to hear from our users and are committed to providing the best possible customer service.</p>
<h2>Contact Information:</h2>
<ul>
  <li>Email: contact@motelo.com</li>
  <li>Phone: 9876543210</li>
  <li>Social Media: </li>
</ul>
<p>We also have a dedicated customer support team available 24/7 to assist you with any issues you may have. You can reach them by clicking on the "Support" button within the app or by sending an email to [Insert Email Address].</p>
<p>Thank you for choosing [Hotel Booking App Name], and we look forward to hearing from you soon!</p>
</div>
{% endblock %}